@import './assets/custom';
@import '~bootstrap/scss/bootstrap';

body {
    margin: 15px;
}


.tabs {
    display: flex;
    justify-content: center;
    .tab-item {
        flex-grow: 1;
        text-align: center;
        padding: 5px 10px;
        max-width: 150px;
        cursor: pointer;
    }

    .active {
        background-color: black;
        color: white;
        
        cursor: default;
    }
    margin-bottom: 15px;
}

.home {
    justify-content: center;
    display: flex;

    .card {
        border: none;
        box-shadow: 0px 0px 20px 2px #c5c5c5;
    }

    .current-kitty{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
                width: 40vw;
                height: 40vw;
                max-height: 40vw;
        }

        @media (max-width: 600px) {
            img {
                width: 80vw;
                height: 80vw;
                max-height: 80vw;
            }
        }
    }
    
    .actions{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        margin-bottom: -30px;
        .action-button {
            font-family: initial;
            padding: 20px;
            border-radius: 50%;
            background-color: white;
            box-shadow: 0px 0px 0px 1.5px #ececec;
            border: none;
            width: 60px;
            height: 60px;
            cursor: pointer;
            margin-left: 10px; 
        }
        
        .like:hover {
            background-color: RED;
            color: white;
        }
        .dismiss:hover {
            background-color: #c7be3d;
        }
    }
}